{
  "email": "<EMAIL>",
  "password": "<PASSWORD>",
  "server":  "<SERVER ID>",
  "channel": "verification-requests",
  "announce_channel": "general",
  "mod_channel": "mods",
  "verified_role": "<ROLE ID>",
  "verify_cookies": {"Vanilla": "<COOKIE>"},
  "verify_url_prefix": "https://forums.artillery.com/profile/",
  "help_message": "Welcome {mention_name} to the Atlas Discord Server. You must verify that you have an Atlas account before you may see content or talk with other users.\n\nTo verify your Atlas account, please post the following message on your Atlas forum profile:\n\nDiscord User ID :: {id}\n\n\nOnce you have done this, send me a private message with a link to your forum profile.\n\nNote that I am just a bot, so if you need help please post in the #verification-requests channel or pm one of the mods. If you would like to see this message again, send me a private message with the text: !help",
  "verified_private_message": "Congrats {name}. You have been verified.",
  "verified_public_message": "{mention_name} (id: {id}) has been verified with profile: {link}",
  "invalid_link_message": "Sorry, that doesn't look like a valid Atlas profile link.",
  "verification_error": "Oops, we had trouble loading the Atlas forum page. Please contact one of our mods or try again later.",
  "missing_verification_post": "We could not find your Discord User ID in your profile. Please make sure that you create a post with the exact message:\n\nDiscord User ID :: {id}",
  "verified_profile_before": "Looks good, but your profile has been used previously to verify a different Discord account. I have notified the mods to take a look at your account and they will approve you or contact you if necessary (please be patient). Thank you.",
  "verified_profile_before_mods": "but that profile has been used for a different Discord account before. This user will require manual verification.",
  "verified_profile_duplicate_name": "Looks good, but your Discord name is the same as another user who is connected. I have notified the mods to take a look at your account and they will approve you or contact you if necessary (please be patient). Thank you.",
  "verified_profile_duplicate_name_mods": "but there are duplicate users with name {name}. This user will require manual verification."
}
